.slider-screen1 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    opacity: 0;
    visibility: hidden;
    transition: none;
    display: flex;
    flex-direction: column;


    &.slide-boissons {
      // Surcharge si tu veux la slide boissons en haut
      justify-content: flex-start;
      align-items: center;
      padding-top: 3rem;
    }

    &.active {
      opacity: 1;
      visibility: visible;
    }

    .background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        // object-fit: cover; /* pour adapter l'image à l'écran */
      }

      &.white-bg {
        background-color: #fff;
      }
    }


    .content {
      position: relative;
      z-index: 1;
      width: 80%;
      margin: 0 auto;
      color: #000;

      &.center {
        text-align: center;
        color: #fff;
      }

      .main-title {
        font-size: 8vw;
        font-weight: bold;
        margin-bottom: 25vw;
        text-align: left;
      }

      .subtitle-accueil{
          font-size: 4vw;
          margin-bottom: 2vw;
          color: #fff;
          text-align: left;
        }

      .subtitle {
        font-size: 1.5vw;
        text-align: center;
        margin-bottom: 8vw;
        color: #544235;
      }

      .section-title {
        font-size: 6vw;
        font-weight: bold;
        text-align: center;
        margin-top: 4vw;
      }

      .menu-two-columns{
        display: flex;
        justify-content: center;
        gap: 2vw;

        .menu-table {
          margin: 2rem auto;
          width: 50%;
          border-collapse: collapse;
          text-align: left;

          .spacer td {
            padding-top: 2vw;
            border: none;
          }

          td {
            padding: 0.1vw 1rem;
            vertical-align: top;
            font-size: 2.5vw;
          }

          .tight-break {
            display: block;
            margin: 0;
            padding: 0;
            line-height: 0.8;
          }


          .light-text {
            font-size: 1.9vw;
            font-weight: normal;
            color: #666;
          }
        }
      }


      .speech-bubble-top-right {
        position: absolute;
        top: 2vw;
        right: 5%;
        width: 200px;
        padding: 1.5rem;
        background: #fff;
        border: 2px solid #000;
        border-radius: 10px;
        font-size: 1.5vw;
        text-align: center;

        /* Petite pointe de la bulle */
        &:after {
          content: "";
          position: absolute;
          bottom: -20px;
          left: 20px;
          border-width: 10px;
          border-style: solid;
          border-color: #000 transparent transparent transparent;
        }
      }

      .speech-bubble-bottom-right {
        position: absolute;
        bottom: 0.5vw;
        right: 4vw;
        width: 250px;
        padding: 1.5vw;
        background: #fff;
        border: 2px solid #000;
        border-radius: 10px;
        font-size: 1.5vw;
        text-align: center;

        &:after {
          content: "";
          position: absolute;
          top: -20px; /* La pointe sera au-dessus */
          left: 20px;
          border-width: 10px;
          border-style: solid;
          /* Couleur pour pointer vers le haut */
          border-color: transparent transparent #000 transparent;
        }
      }

      .two-columns {
        display: flex;
        gap: 2vw;
        margin-top: 4vw;
        justify-content: space-around;

        .column {
          flex: 1;
          max-width: 400px;

          h2 {
            font-size: 2.5vw;
            font-weight: bold;
            margin-bottom: 0.5vw;
          }

          p {
            line-height: 1.8;
            font-size: 2vw;
          }
        }
      }
    }
  }
}

.logo-spot {
  position: absolute;
  top: 1vw;
  left: -3vw;
  z-index: 2; /* Pour qu'il soit au-dessus du fond */

  img {
    width: 180px; /* Ajuste la taille selon tes besoins */
    height: auto;
  }
}
